@import "variables";

.main-plantas{
    .section-1{
        width: 50%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        .imagenes{

            .imagen{
                width: 330px;
            }

        }

        .textos{
            width: 50%;

            h2{
                color: $colorT;
                font-size: 30;
                font-family: $textoP;
            }

            p{
                color: $colorS;
                font-size: 15px;
                font-family: $textoS;
            }
        }
    


        .textos1{
            @extend .textos;

            p{
                color: $colorPP;
            }
        } 

        .textos2{
            @extend .textos;

            h2{
                color: $colorGG;
            }
        }
    }    
}
