$colorP: rgb(17, 72, 82);
$colorT: rgb(9, 136, 158);
$colorS: rgb(32, 35, 36);
$colorPP: rgb(245, 41, 119);
$colorGG: rgb(44, 202, 44);
$back: rgb(27, 131, 108);

$textoP: 'Montserrat', sans-serif;
$textoS:  sans-serif;



