@import "nav";
@import "main";

header{
    background-image: url("../public/header");
    background-repeat: none;
    background-size: 100vw;
    height: 65vw;

    h1{
        color: $colorP;
        font-size: 60px;
        font-family: $textoP;
    }
}